<div class="center jumbotron">
  <h1>X Planner</h1>
</div>

<div class="home-container">
  <h2>Lorem</h2>
  <p>
    <em>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium repellendus natus officia unde doloremque veniam assumenda ea autem reprehenderit tempore asperiores minima fugit, fugiat, dolore rem deleniti aut laboriosam tenetur?
    </em>
  </p>
  <h2>Lorem</h2>
  <p>
    <em>
      Ullam quod impedit accusantium quas enim dignissimos mollitia ut, tenetur porro, aspernatur in laboriosam sit maxime omnis, culpa eius harum saepe voluptas!
    </em>
  </p>
  <h2>Lorem</h2>
  <p>
    <em>
      Beatae neque fugiat, excepturi, ducimus, odio sapiente nobis illum dicta harum consequatur facilis minus illo odit. Fuga harum commodi blanditiis ullam saepe.
    </em>
  </p>
</div>