@import "bootstrap-sprockets";
@import "bootstrap";


/*=================================================================
      Mixins, Variables, etc
=================================================================*/

$gray-medium-light: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/*=================================================================
      Universal
=================================================================*/

html {
  font-size: 10px;
}

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

*, *::before, *::after {
  box-sizing: border-box;
}

.clearfix::after {
  content: " ";
  display: block;
  clear: both;
}


/*=================================================================
      Typography
=================================================================*/

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $gray-light;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

.zero-margin-top {
  margin-top: 0;
}

a {
  text-decoration: none;
  color: black;
  &:hover {
    text-decoration: none;
    opacity: 0.8;
  }
}


/*=================================================================
      Header
=================================================================*/

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  &:hover {
    color: white;
    text-decoration: none;
  }
}


/*=================================================================
      Footer
=================================================================*/

footer {
  margin-top: 80px;
  padding-top: 5px;
  border-top: 1px solid $gray-medium-light;
  color: $gray-light;
  p.footerp {
    font-size: 1.1rem;
    padding: 10px;
  }
}


/*=================================================================
      LandingPage
=================================================================*/

div.home-container {
  width: 60%;
  margin: 60px auto 0;
}


/*=================================================================
      debug(only development)
=================================================================*/

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}


/*=================================================================
      sidebar
=================================================================*/

aside {
  section.user_info {
    margin-top: 20px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: center;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

aside.user-sidebar {
  background-color: #eee;
  border-radius: 10px;
  margin-top: 70px;
}

.gravatar {
  /* float: left; */
  // margin-right: 10px;
}

.gravatar_edit {
  margin-top: 15px;
}

.stats {
  overflow: auto;
  margin-top: 0;
  text-align: center;
  padding: 0;
  a {
    // float: left;
    padding: 0 10px;
    border-left: 1px solid $gray-lighter;
    color: gray;
    &:first-child {
      padding-left: 0;
      border: 0;
    }
    &:hover {
      text-decoration: none;
      color: blue;
    }
  }
  strong {
    // display: block;
  }
}

.user_avatars {
  overflow: auto;
  margin-top: 10px;
  .gravatar {
    margin: 1px 1px;
  }
  a {
    padding: 0;
  }
}

.users.follow {
  padding: 0;
}

section.follow-button {
  margin-top: 10px;
}


/*=================================================================
      Forms
=================================================================*/

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 30px;
  @include box_sizing;
}

input {
  height: auto !important;
}

.search_user {
  width: 70%;
  margin-left: 4%;
  border-radius: 5px;
}

.search_user_btn {
  width: 20%;
  margin-right: 4%;
  border-radius: 5px;
  font-size: 1.3rem;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}



/*=================================================================
      Users index
=================================================================*/

.users { 
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighter;
  }
}


/*=================================================================
      LongTermGoals table
=================================================================*/

.table-sortable {
  margin-top: 30px;
  border-collapse: collapse;
  width: 100%;
  td, th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  tbody {
    tr {
      &:nth-child(odd) {
        background-color: #f8f8f8;
      }
      &:hover {
        background-color: #eee !important;
      }
    }
  }
  th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #666;
    color: white;
  }
  tr {
    height: auto;
  }
}


/*=================================================================
      LongTermGoals
=================================================================*/

h3.new-l-goal {
  position: relative;
}

a {
  &.new-l-goal {
    position: absolute;
    right: 5%;
    top: 5%;
    font-size: 1.5rem;
    display: inline-block;
    background-color: #eee;
    padding: 5px;
    border-radius: 5px;
    color: black;
  }
}


/*=================================================================
      MidTermGoals
=================================================================*/


div.l-goal-show-container {
  background-color: #eee;
  border-radius: 10px;
}

section.user-data {
  float: left;
  width: 30%;
}

section.data2 {

}

div.item {
  background-color: #eee;
  border: 1px solid #aaa;
  border-radius: 10px;
}

div.table-sortable {
  border: none;
}


/*=================================================================
      Messages
=================================================================*/

section.message_box {
  padding: 10px;
  border: 1px solid $gray-light;
  overflow: scroll;
  #messages {
    height: 400px;
  }
}

div.message_form {
  padding-top: 10px;
}

#message_sender {
  font-size: 1.1em;
}

#message_content {
  font-size: 1.0em;

