@import "bootstrap-sprockets";
@import "bootstrap";


/*=================================================================
      Mixins, Variables, etc
=================================================================*/

$gray-medium-light: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/*=================================================================
      Universal
=================================================================*/

html {
  font-size: 10px;
}

body {
  padding-top: 60px;
  background-color: #eee;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

*, *::before, *::after {
  box-sizing: border-box;
}

.clearfix::after {
  content: " ";
  display: block;
  clear: both;
}

ul {
  padding-left: 0;
  li {
    list-style-type: none;
  }
}



/*=================================================================
      Typography
=================================================================*/

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $gray-light;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

.zero-margin-top {
  margin-top: 0;
}

a {
  text-decoration: none;
  color: black;
  &:hover {
    text-decoration: none;
    opacity: 0.8;
  }
}

.col-md-9 {
  padding: 0 10px;
}


/*=================================================================
      Header
=================================================================*/

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

.navbar {
  margin-bottom: 0;
}

.navbar-inverse {
  background-color: #1f4b96;
  border-color: #15366b;
}

.navbar-nav > li > a {
  padding: 12px;
}

.navbar-right > li > a {
  color: #fff;
}

.navbar-inverse .navbar-nav > li > a {
  color: #E0E6F8;
}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
  background-color: #15366b;
  color: #E0E6F8;
}

.fa-bell {
  font-size: 1.6em;
  margin-top: 3px;
}



/*=================================================================
      Footer
=================================================================*/

footer {
  margin-top: 80px;
  padding-top: 5px;
  border-top: 1px solid $gray-light;
  color: $gray-light;
  p.footerp {
    font-size: 1.1rem;
    padding: 10px;
  }
}


/*=================================================================
      LandingPage
=================================================================*/

div.home-container {
  width: 60%;
  margin: 60px auto 0;
}


/*=================================================================
      debug(only development)
=================================================================*/

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}


/*=================================================================
      sidebar
=================================================================*/

aside {
  
  padding-bottom: 50px;
  
  section.user_info {
    margin-top: 20px;
  }
  section {
    padding: 0px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: center;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

aside.user-sidebar {
  background-color: #fff;
  margin-bottom: 200px;
}

.gravatar {
  /* float: left; */
  // margin-right: 10px;
}

.gravatar_edit {
  margin-top: 15px;
}

.stats {
  overflow: auto;
  margin-top: 0;
  text-align: center;
  padding: 0;
  a {
    // float: left;
    padding: 0 10px;
    border-left: 1px solid $gray-lighter;
    color: gray;
    &:first-child {
      padding-left: 0;
      border: 0;
    }
    &:hover {
      text-decoration: none;
      color: blue;
    }
  }
  strong {
    // display: block;
  }
}

.user_avatars {
  overflow: auto;
  margin-top: 10px;
  .gravatar {
    margin: 1px 1px;
  }
  a {
    padding: 0;
  }
}

.users.follow {
  padding: 0;
}


/*=================================================================
      Forms
=================================================================*/

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 30px;
  @include box_sizing;
}

input {
  height: auto;
}

.search-form {
  margin-right: 50px;
  padding: 10px;
  width: 300px;
  height: 45px;
  
  p {
    margin-bottom: 0;
  }
}

.search_user {
  width: 70%;
  margin-left: 4%;
  border-radius: 5px;
  margin-bottom: 0;
  background-color: #fff;
}

.search_user_btn {
  width: 20%;
  margin-right: 4%;
  margin-bottom: 0;
  border-radius: 5px;
  font-size: 1.5rem;
  padding: 1px 6px;
}

.btn-block {
  background-color: #af3535;
  color: white;
}

.btn-block:hover {
  background-color: #942626;
  color: white;
}

.btn-blocking {
  background-color: #ce1313;
  color: white;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}




/*=================================================================
      Users index
=================================================================*/

.users { 
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighter;
  }
}


/*=================================================================
      LongTermGoals
=================================================================*/

h3.new-l-goal {
  position: relative;
}

a {
  &.new-l-goal {
    position: absolute;
    right: 5%;
    top: 5%;
    font-size: 1.5rem;
    display: inline-block;
    background-color: #eee;
    padding: 5px;
    border-radius: 5px;
    color: black;
  }
}

.l-goal-head {
  background-color: #fff;
  padding: 10px;
  width: 50%;
  margin: 0 0 10px 25%;
  font-size: 32px;
  display: inline-block;
}

.create-l-goal {
  float: right;
  background-color: #1f4b96;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 50px;
  
  a {
    color: #fff;
    font-size: 32px;
    line-height: 52px;
    margin-left: 18%;
  }
}

.create-l-goal:hover {
  background-color: #15366b;
}

.status {
  display: inline;
  font-size: 13px;
  padding: 3px 5px;
  margin-right: 20px;
  border-radius: 12px;
  color: #fff;
}

.status-red {
  background-color: #df0101;
}

.status-yellow {
  background-color: #e0e000;
}

.status-green {
  background-color: #16e000;
}

.l-goal-content {
  font-size: 24px;
  margin-bottom: 0;
}

.l-goal-left {
  list-style-type: none;
  padding-left: 0;
  
  li {
    float: left;
    margin-right: 15px;
    margin-bottom: 0;
  }
  
  .l-goal-edit-link {
    margin-left: 100px;
  }
}

.fa-comment {
  color: #888;
}

.fa-heart {
  color: #888;
}

.red-heart {
  color: #df0101;
}

.fa-sticky-note {
  color: #888;
}

.blue-note {
  color: #337ab7;
}


/*=================================================================
      MidTermGoals
=================================================================*/


div.l-goal-show-container {
  background-color: #eee;
  border-radius: 10px;
}

section.user-data {
  float: left;
  width: 30%;
}

section.data2 {

}

div.item {
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 10px 30px;
  div.clearfix {
    margin: -10px -30px;
    padding: 10px 30px;
  }
}

div.table-sortable {
  border: none;
}

section {
  &.left {
    float: left;
  }
  &.right {
    float: right;
  }
}

.m-goal-new-link {
  padding-top: 10px;
  background-color: #1f4b96;
  border-radius: 5px;
  padding: 5px 10px;
  width: 150px;
  text-align: center;
  margin-top: 10px;
  
  a {
    color: #fff;
  }
  
  &:hover {
    background-color: #15366b;
  }
}

.m-goal-link {
  float: right;
  margin-top: 30px;
  margin-bottom: 15px;
  
  a {
    background-color: #555;
    padding: 10px 15px;
    border-radius: 5px;
    color: #fff;
  }
}

.l-goal-m-goal-content {
  font-size: 20px;
  margin-bottom: 0;
}

.m-goal-content {
  font-size: 24px;
  margin-bottom: 0;
}

.m-goal-left {
  list-style-type: none;
  padding-left: 0;
  
  li {
    float: left;
    margin-right: 15px;
    margin-bottom: 0;
  }
  
  .m-goal-edit-link {
    margin-left: 100px;
  }
}

.m-goal-head {
  background-color: #fff;
  padding: 10px;
  width: 50%;
  margin: 0 0 10px 25%;
  font-size: 32px;
  display: inline-block;
}

.create-m-goal {
  float: right;
  background-color: #1f4b96;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 50px;
  
  a {
    color: #fff;
    font-size: 32px;
    line-height: 52px;
    margin-left: 18%;
  }
}

.create-m-goal:hover {
  background-color: #15366b;
}



/*=================================================================
      ShortTermGoals
=================================================================*/

.s-goal-new-link {
  padding-top: 10px;
  background-color: #1f4b96;
  border-radius: 5px;
  padding: 5px 10px;
  width: 150px;
  text-align: center;
  margin-top: 10px;
  
  a {
    color: #fff;
  }
  
  &:hover {
    background-color: #15366b;
  }
}

.s-goal-link {
  float: right;
  margin-top: 30px;
  margin-bottom: 15px;
  
  a {
    background-color: #555;
    padding: 10px 15px;
    border-radius: 5px;
    color: #fff;
  }
}

.m-goal-s-goal-content {
  font-size: 20px;
  margin-bottom: 0;
}

.s-goal-content {
  font-size: 24px;
  margin-bottom: 0;
}

.s-goal-left {
  list-style-type: none;
  padding-left: 0;
  
  li {
    float: left;
    margin-right: 15px;
    margin-bottom: 0;
  }
  
  .s-goal-edit-link {
    margin-left: 100px;
  }
}


.s-goal-head {
  background-color: #fff;
  padding: 10px;
  width: 50%;
  margin: 0 0 10px 25%;
  font-size: 32px;
  display: inline-block;
}

.create-s-goal {
  float: right;
  background-color: #1f4b96;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 50px;
  
  a {
    color: #fff;
    font-size: 32px;
    line-height: 52px;
    margin-left: 18%;
  }
}

.create-s-goal:hover {
  background-color: #15366b;
}



/*=================================================================
      Approaches
=================================================================*/

.approach-new-link {
  padding-top: 10px;
  background-color: #1f4b96;
  border-radius: 5px;
  padding: 5px 10px;
  width: 150px;
  text-align: center;
  margin-top: 10px;
  
  a {
    color: #fff;
  }
  
  &:hover {
    background-color: #15366b;
  }
}

.a-link {
  float: right;
  margin-top: 30px;
  margin-bottom: 15px;
  
  a {
    background-color: #555;
    padding: 10px 15px;
    border-radius: 5px;
    color: #fff;
  }
}

.s-goal-approach-content {
  font-size: 20px;
  margin-bottom: 0;
}






/*=================================================================
      Likes
=================================================================*/




/*=================================================================
      Messages
=================================================================*/

section.message_box {
  padding: 0px;
  border: 1px solid $gray-light;
  overflow: scroll;
  #messages {
    padding: 20px;
    height: 400px;
  }
}

div.message_form {
  padding-top: 10px;
  
  textarea {
    margin-bottom: 0px;
    height: 80px;
  }
}

#message_sender {
  font-size: 1.2rem;
}

#message_content {
  font-size: 1.2rem;
  background-color: #ddd;
  min-width: 20px;
  max-width: 450px;
  height: auto;
  display: inline-block;
  padding: 3px;
  border-radius: 5px;
  position: relative;
}

.message_box {
  background-color: #fff;
}

.messages_to {
  padding-left: 0;
  
  a {
    display: inline-block;
    font-size: 1.5em;
  }
}

.message_side_top {
  margin-top: 0;
  margin-bottom: 20px;
}

#message_target {
  font-size: 2.5rem;
  font-weight: bold;
  margin: 0 auto 6px;
}

#message_target_list {
  padding-left: 10px;
  background-color: #fff;
  max-height: 400px;
  overflow: scroll;
}


/*=================================================================
      Xmessages
=================================================================*/

#xroom_name {
  font-size: 2.5rem;
  font-weight: bold;
  margin: 0 auto 5px;
}

.xroom_head {
  background-color: #fff;
  padding: 10px;
  width: 50%;
  margin: 0 0 10px 25%;
  font-size: 32px;
  display: inline-block;
}

.xroom_sidebar {
  background-color: #fff;
  margin-bottom: 20px;

  .x_search_form {
    padding: 10px;
    width: 100%;
    margin: 20px auto;
    
    input {
      width: auto;
      font-size: 1.2rem;
    }
    
    label {
      font-weight: normal;
      font-size: 1.4rem;
    }
    
    p {
      margin-bottom: 0;
      
      &.bold {
        font-weight: bold;
        display: inline-block;
        border-bottom: 1px solid $gray-light;
        margin-bottom: 5px;
      }
      
      &.x_form_item {
        padding-left: 10px;
      }
      
      .search_xroom {
        width: 70%;
        // margin-left: 4%;
        border-radius: 5px;
        margin-bottom: 0;
        background-color: #fff;
      }
      
      .search_xroom_btn {
        width: 20%;
        // margin-right: 4%;
        margin-bottom: 0;
        border-radius: 5px;
        font-size: 1.3rem;
        padding: 1px 2px;
      }
    }
  }
}

.create_xroom {
  float: right;
  background-color: #1f4b96;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 50px;
  
  a {
    color: #fff;
    font-size: 32px;
    line-height: 52px;
    margin-left: 18%;
  }
}

.create_xroom:hover {
  background-color: #15366b;
}

li.xroom_item {
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 10px 30px;
  
  .xroom_middle {
    margin-top: 6px;
    margin-bottom: 6px; 
    overflow-wrap: break-word;
    
    .xroom_name {
      font-size: 2.8rem;  
    }
  }
  
  .xroom_entry {
    display: inline-block;
    padding: 5px;
    background-color: #bbe5ed;
    border-radius: 15px;
  }
  
  .xroom_desc {
    overflow-wrap: break-word;
  }
}

.xroom_link {
  font-size: 2rem;
}

.xroom_attr {
  font-size: 1.5rem;
}

.xroom_exp {
  display: inline-block;
  width: 80%;
  background-color: #ddd;
  overflow-wrap: break-word;
}

.xroom_users {
  margin: 0 auto 20px;
  width: 80%;
  max-height: 200px;
  background-color: #ddd;
  overflow: scroll;
}

.xroom_user {
  background-color: #fff;
  border-radius: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
  display: inline-block;
}

.xmessage_sidebar {
  background-color: #fff;
}

section.xmessage_box {
  padding: 0px;
  border: 1px solid $gray-light;
  overflow: scroll;
  #xmessages {
    padding: 20px;
    height: 400px;
  }
}


form.xmessage_form {
  padding-top: 10px;
  textarea {
    margin-bottom: 0px;
    height: 80px;
  }
}

ul.instruction {
  display: inline-block;
  float: right;
  margin-bottom: 0;
  .instruction_left {
    display: inline-block;
    color: red;
    float: left;
    &:first-child {
     padding-right: 10px;
     margin-right: 10px;
     border-right: 1px solid $gray-light; 
    }
  }
}


.xmessage_box {
  background-color: #fff;
}

#xmessage_sender {
  font-size: 1.2rem;
}

.sender_line {
  border-bottom: 1px solid #ccc;
}

#xmessage_content {
  font-size: 1.2rem;
  background-color: #ddd;
  min-width: 20px;
  max-width: 450px;
  height: auto;
  display: inline-block;
  padding: 3px;
  border-radius: 5px;
  position: relative;
}

p.chat_tri_r,
p.chat_tri_l {
  filter:drop-shadow(0px 3px 5px rgba(0, 0, 0, 0.2));
}

p.chat_tri_r:before {
  position: absolute;
  right: 5px;
  top: -10px;
  content: '';
  width: 0;
  height: 0;
  border-right: 8px solid transparent;
  border-bottom: 10px solid #bbe5ed;
}

p.chat_tri_l:before {
  position: absolute;
  left: 5px;
  top: -10px;
  content: '';
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-bottom: 10px solid #ddd;
}


/*=================================================================
      Overall Search
=================================================================*/

aside.search_sidebar {
  background-color: #fff;
  background-color: #fff;
  margin-bottom: 20px;

  .overall_search_form {
    padding: 10px;
    width: 100%;
    margin: 20px auto;
    
    input {
      width: auto;
      font-size: 1.2rem;
    }
    
    label {
      font-weight: normal;
      font-size: 1.4rem;
    }
    
    p {
      margin-bottom: 0;
      
      &.bold {
        font-weight: bold;
        display: inline-block;
        border-bottom: 1px solid $gray-light;
        margin-bottom: 5px;
      }
      
      &.search_item {
        padding-left: 10px;
      }
      
      &.search_child_item {
        margin-left: 30px;
        
        #l_category {
          border-radius: 5px;
          margin-bottom: 10px;
        }
        
        select {
          width: 50%;
          margin-bottom: 10px;
        }
      }
      
      .kwd_textarea {
        width: 70%;
        border-radius: 5px;
        margin-bottom: 0;
        background-color: #fff;
      }
      
      .kwd_search_btn {
        width: 20%;
        margin-bottom: 0;
        border-radius: 5px;
        font-size: 1.3rem;
        padding: 1px 2px;
      }
    }
  }
}

div.result_item {
  padding: 20px;
  margin-bottom: 20px;
  
  div.pagination {
    margin: 0;
  }
}

div.user_item {
  background-color: #fff;
  padding-top: 15px;
  padding-bottom: 15px;
  border: 1px solid #ccc;
}

div.list-group {
  margin-bottom: 0;
  
  a.list-group-item {
    float: left;
    font-size: 1.3rem;
    
    span.search_count {
      background-color: #bbe5ed;
      border-radius: 50%;
      padding: 5px;
      font-size: 1rem;
      font-weight: bold;
    }
  }
}


/*=================================================================
      Activity Page
=================================================================*/

div.home-list-group {
  margin-top: 20px;
  background-color: rgba(199, 227, 252, 0.5);
  border-radius: 5px;
  
  h2 {
    display: inline-block;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 5px 5px 0;
    margin: 20px 5px 10px;
    
    span.underline {
      border-bottom: 1px solid $gray-light;
    }
  }
  
  div.pulldown_wrapper {
    margin-left: 15px;
    
    p {
      line-height: 1.3;
    }
  }

  a.line {
    font-size: 1.4rem;
  }
  
  a.indent-right {
    margin-left: 15px;
  }
  
  a.list-group-item {
    float: none;
    padding: 0 15px;
    display: inline-block;
    line-height: 1.2;
    color: #fff;
    font-weight: bold;
    background-color: #1f4b96;
    
    &:hover {
      opacity: 0.5;
    }
  }
}

span.holder_wrapper {
  display: inline-block;
  padding: 5px;
  background-color: #bbe5ed;
  border-radius: 10px;
  
  span.holder_image {
    vertical-align: middle;
  }
  
  span.holder_name {
    font-weight: bold;
    font-size: 1.5rem;
    margin-left: 3px;
    vertical-align: middle;
  }
}

p.text_right {
  text-align: right;
}